# MQTT
MQTT_BROKER=ws://192.168.105.2:8080

# Host directories
DATA_HOST_PATH=./data
RESOURCES_HOST_PATH=./resources

# Container directories
CAN_INTAKE_PATH=/app/data/can/intake
CAN_PROCESS_PATH=/app/data/can/process
CAN_RAW_PATH=/app/data/can/raw
CAN_PARSED_PATH=/app/data/can/parsed

CONFIG_PATH=/app/resources/config.json
DBC_DIR=/app/resources/dbc

# CAN interfaces
PCAN_INTERFACE=can0
TCAN_INTERFACE=can1