{% extends "index.html" %}

{% block fileoptions %}
    {% for f_post in file_posts %}
    <li>
    <label>
        <input type="checkbox" name="file" value="{{f_post.id}}"/>
        {{f_post.file_name}}
    </label>
    </li>
    {% endfor %}
{% endblock fileoptions %}

{% block dropdown %}
<details class="dropdown" id="detailsDropDown">
    <summary>
        Export CSV...
    </summary>
    <ul id="dropDownOptions">
      <!-- Dynammically making download options -->
    </ul>
</details>
{% endblock dropdown %}

{% block graph %}
<article data-theme="light">
    <div class="grid">
      <div>
        <table class="striped">
          <thead>
            <tr>
              <th scope="col">Source</th>
              <th scope="col">State</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">VCU</th>
              <td id="vcu-state">No Data</td>
            </tr>
            <tr>
              <th scope="row">PEI</th>
              <td id="pei-state">No Data</td>
            </tr>
            <tr>
              <th scope="row">MC</th>
              <td id="mc-state">No Data</td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
      </div>
      <div>
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </article>

  <article data-theme="light">
    <details class="dropdown">
      <summary>Select Data...</summary>
      <ul id="phase-options">
    </details>
    <canvas id="lineChart"></canvas>
  </article>
{% endblock graph %}

{% block scripts %}
    <script> 
      const details = document.getElementById("detailsDropDown")
      const dropdown = document.getElementById("dropDownOptions");

      async function updateDropdown() {
        const response = await fetch("/api/update/dropdown-list", {
          method: "GET"
        });
        return response.text();
      }

      async function downloadFile() {
        const checkedFileRadio = document.querySelectorAll('input[name="file"]:checked');
    
        if (checkedFileRadio.length === 0) {
          console.error("Please selected a valid file.")
          return;
        }
    
        // REMOVE: debugging
        console.log(checkedFileRadio)
        
        const file_id = Array.from(checkedFileRadio).map(input => input.value);
    
        // REMOVE: debugging  
        console.log(file_id)
    
        // else return an error from api (maybe a quick modal from html? -- too complex)
        try {
          file_id.forEach(async (id) => {
            // download each file selected given id
            window.location.href = `http://127.0.0.1:8000/api/download/${id}`;
          });
        } catch (error) {
          console.error("Error:", response.status, await response.text());
        }
      }

      details.addEventListener('toggle', async () => {
        dropdown.innerHTML = await updateDropdown();
        document.getElementById('fileDownload').addEventListener('click', downloadFile);
      });
    </script>
    
{% endblock scripts %}

